body {
	background-image: url(transparency_light.png);
}

header {
    position: fixed;
}

#range {
	margin-right: 20px;
}

#shadow {
	position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}

#emoji-picker-wrapper {
    position: absolute;
    width: 305px;
}

#emoji-picker {
    position: absolute;
    width: 305px;
    border: 1px solid lightgray;
    border-bottom: 2px solid lightseagreen;
    border-radius: 16px;
    background: #fff8;
    backdrop-filter: blur(10px);
    user-select: none;
    overflow: hidden;
}

#emoji-picker-first-row {
    display: flex;
    width: 100%;
    height: 10px;
    justify-content: center;
}

#emoji-picker-arrow {
    width: 14px;
    height: 14px;
    transform: rotate(45deg);
    transform-origin: center;
    clip-path: polygon(0% 0%, 100% 0%, 0% 100%);
    border: 1px solid lightgray;
    background: #fff8;
    backdrop-filter: blur(10px);
    margin-top: 3px;
    z-index: 1;
}

#emoji {
	font-size: 20px;
}

.emoji-active {
	background: rgb(232, 232, 232);
}



.emoji {
	outline: none;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 2px;
	border-radius: 16px;
	border: 1px solid transparent;
	background: none;
	font-size: 20px;
	cursor: pointer;
}

.emoji:hover, .emoji-choosen {
	border: 1px solid lightgray;
}

#custom-block {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-bottom: 1px solid lightgray;
}

#custom {
	width: 61px;
	height: 23px;
	margin-left: 8px;
	border-radius: 16px;
	border: 1px solid lightgray;
	background-color: #ededed;
	text-align: center;
}

#emoji-container {
	padding: 10px;
    max-height: 320px;
    overflow-y: scroll;
}

#canvas {
    position: absolute;
    z-index: -1;
}