body {
	margin: 50px;
	background-color: #f1f1f1;
}

#container {
	display: flex;
	align-items: center;
	flex-direction: column;
	row-gap: 5px;
	margin-top: 58px;
}

#whatitis {
	font-size: 24px;
	color: #95a5a6;
	font-family: monospace;
}

.tool {
	display: inline-flex;
	align-items: center;
	padding: 20px;
	border-radius: 32px;
	background: #eaeaea;
	font-size: 24px;
	cursor: pointer;
	transition: .5s;
}

.tool:hover {
	background: #dadada;
}

.tool svg {
	margin-left: 20px;
}

a {
	text-decoration: none;
}