body {
	margin: 0px;
}

#layout {
	display: grid;
	grid-template-rows: 58px 1fr;
	align-items: center;
	width: 100vw;
	height: 100vh;
}

header {
	position: fixed;
	left: 0px;
	top: 0px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	padding: 0px 20px;
	width: 100%;
	height: 58px;
	border-bottom: 2px solid lightseagreen;
	background: white;
}

#fileRadio, #fileBrowser {
	margin-left: 15px;
}

#url {
	outline: none;
	margin-left: 15px;

	padding: 0px 10px;

	width: 128px;
	height: 24px;

	text-align: center;

	border: 1px solid lightgray;
	border-radius: 16px;

	background: rgb(255, 255, 255);

	transition-property: width;
	transition-duration: .5s;
}

#url:focus {
	width: 320px;
	background: rgb(232, 232, 232);
}

#pre-output {
	box-sizing: border-box;
	padding: 20px;
	width: 100%;
	height: 100%;
	margin: 58px 0 0 0;
}

button {
	outline: none;
	padding: 0 15px;
	margin-left: 10px;
	height: 32px;
	border-radius: 16px;
	background: rgb(255, 255, 255);
	color: black;
	border: 1px solid lightgray;
}

button:active {
	background: rgb(232, 232, 232);
}

#save-to-file-a {
	margin-left: auto;
}